**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.*proj.userosscache
**/*.*proj.suo
**/*.*proj.sln.docstates
**/bin
**/obj
**/packages
**/testResults
**/TestResults
**/node_modules
**/npm-debug.log
**/yarn-error.log
**/coverage
**/dist
**/build
**/out
**/logs
**/log
**/tmp
**/temp
**/artifacts
**/wwwroot
**/publish
**/appsettings.Development.json